In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib widget

# set sensible default parameters for matplotlib
plt.rcParams['figure.figsize'] = [9, 5]

plt.style.use('dark_background')

plt.rcParams['figure.dpi'] = 120

plt.style.use('dark_background')

In [2]:
df = pd.read_csv('../data/train.csv')
df

             image_id  label
0      1000015157.jpg      0
1      1000201771.jpg      3
2       100042118.jpg      1
3      1000723321.jpg      1
4      1000812911.jpg      3
...               ...    ...
21392   999068805.jpg      3
21393   999329392.jpg      3
21394   999474432.jpg      1
21395   999616605.jpg      4
21396   999998473.jpg      4

[21397 rows x 2 columns]

In [11]:
import os

for i in range(len(df)):
    os.rename(f'../data/train_images/{df.loc[i].image_id}', f'../data/train_images_sorted/{df.loc[i].label}/{df.loc[i].image_id}')